@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
    --light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}

html,
body {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
}

main {
    width: 100%;
    min-width: 800px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    z-index: 1;
}

.calendarBox {
    display: flex;
    min-width: 800px;
    height: 600px;
    border-radius: 15px;
    padding: 25px;
    flex-wrap: wrap;
}

.dayContainer {
    display: flex;
    flex: 0 0 33.33%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.day {
    display: flex;
    width: 200px;
    height: auto;
    background-color: #363949;
    border-radius: 15px;
    flex-direction: column;
    padding: 10px;
}

.day button {
    border: none;
    display: flex;
    padding: 0.75rem 1.5rem;
    background-color: #488aec;
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
    transition: all 0.6s ease;
    margin-top: 15px;
}

.day button:hover {
    box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
}

.day button:focus,
.day button:active {
    opacity: 0.85;
    box-shadow: none;
}

.day button svg {
    width: 1.25rem;
    height: 1.25rem;
}

.infoBox {
    position: relative;
    display: none;
    width: 500px;
    height: auto;
    background-color: #363949;
    border-radius: 10px;
    flex-direction: column;
    padding: 15px;
}

.infoBox button {
    display: flex;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-color: transparent;
    font-size: x-large;
}

.infoBox p {
    margin-bottom: 10px;
}