@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
    --light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}

html,
body {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
}

main {
    width: 100%;
    min-width: 800px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    z-index: 1;
}

.profile-banner{
    display: flex;
    z-index: 5;
    min-width: 800px;
    min-height: 240px;
    justify-content: space-between;
    align-items: center;
}

.profile-banner .left-container{
    display: flex;
    height: 100%;
    width: 30%;
    margin-left: 2.5%;
    justify-content: center;
    align-items: center;
}

.profile-banner .left-container .profile-picture{
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url("../img/pdp.jpg");
    background-position: center;
    background-size: cover;
}

.profile-banner .right-container{
    display: flex;
    height: 80px;
    width: 65%;
    flex-direction: column;
    justify-content: space-between;
}

.profile-banner .right-container .header-container{
    display: flex;
    width: 100%;
    height: 40%;
    justify-content: space-between;
}

.profile-banner .right-container .header-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100px;
    border-radius: 15px;
}

.profile-banner .right-container .statistic-container{
    display: flex;
    width: 100%;
    height: 40%;
}

.profile-banner .right-container .header-container span{
    display: flex;
    color: var(--dark);
    font-weight: bold;
    font-size:x-large;
}

.profile-banner .right-container .statistic-container span{
    font-weight: bold;
}

.profile-banner .right-container .statistic-container li {
    text-align: start;
    color: var(--dark);
    font-size: medium;
    display: inline;
    margin-right: 40px;
}

.profile-menu{
    display: flex;
    height: auto;
    min-width: 800px;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid grey;
}

.profile-menu ul{
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}

.profile-menu li{
    display: inline;
    height: auto;
    margin-right: 40px;
    cursor: pointer;
    padding-top: 10px;
}

.profile-menu li a{
    text-decoration: none;
    color: rgb(170, 167, 167);
}

.profile-menu li.active{
    border-top: 1px solid var(--dark);
}

.profile-menu li.active a{
    color: var(--dark);
}

.user-post{
    display: flex;
    margin-top: 20px;
    width: 800px;
    height: auto;
}

.post{
    position: relative;
    display: flex;
    width: 266px;
    height: 266px;
    margin-right: 1px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.post:hover::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    pointer-events: none; 
}

.postStatistic{
    display: none;
    color: white;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
}

.post:hover .postStatistic, .post:hover .deleteFavorite{
    display: flex;
}


.postStatistic .bx{
    font-size: 50px;
}

.deleteFavorite{
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    color: red;
    font-weight: bold;
}

.deleteFavorite:hover{
    color: rgb(237, 63, 63);
}